.header{
    min-height: 50vh;
    background-image: url('../img/banner-principal_mob-02.jpg');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
    h1{
        font-weight: 900;
        font-size: 46px;
        .span{
            display: block;
        }
    }
}

@media (min-width: 750px){
    .header{
        background-image: url('../img/banner-principal.jpg');
        h1{
            font-size: 76px;
        }
    }
}