.subrayado-dinamico::after{
    display: block;
    content: "";
    height: 2px;
    background-color: $azul-bai;
    transform: scale(0);
    transform-origin: left;
    transition: transform .3s;
}
.subrayado-dinamico:hover::after{
    transform: scale(1,1);
    box-shadow: 2px 2px 2px 2px #afafaf42;
}

.rotation{
    transition: all 1s ease-in-out;
    transform: rotate(-90deg);
    color: #242424;
}