@font-face{
    src: url(../recursos/typo/HelveticaNowDisplay.ttf);
    font-family: 'Helvetica Now Display';
}

@font-face{
    src: url(../recursos/typo/HelveticaNowDisplayBdIt.ttf);
    font-family: 'Helvetica Now Display Italic';
    font-style: italic;
}

@font-face{
    src: url(../recursos/typo/HelveticaNowDisplayBold.ttf);
    font-family: 'Helvetica Now Display bold';
    font-weight: bold;
}


@font-face{
    src: url(../recursos/typo/HelveticaNowDisplayXBlk.otf);
    font-family: 'Helvetica Now Display black';
    font-weight: bolder;
}

